body {
    background-color: #FCFCFC;
}

.my-header {
    background-color: #2196F3;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow:0px 3px 7px rgba(0, 0, 0, 0.3);
}

.my-header button {
    border: 1px #BBDEFB solid;
}

.my-header .title {
    color: #ffffff;
    font-size: large;
    padding-left: 0.8em;
    text-decoration: none;
}

.my-header .social {
    text-align: right;
}

.my-content-title {
    color: #757575;
    margin-top: 0.5em;
}

a.anchor {
    margin-left: -0.5em;
    color: rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
}

a.anchor:focus,
a.anchor:hover {
    color: #757575;
}

.my-content {
    box-shadow:0px 0px 7px rgba(0, 0, 0, 0.3);
}

.my-project {
    background-color: #4CAF50;
}

.my-project .title-panel {
    color: #ffffff;
    padding: 2em;
    text-align: center;
}

.my-project .member-panel {
    padding: 1.5em;
    background-color: #ffffff;
}

.my-project .title {
    font-size: xx-large;
    margin-bottom: 1em;
}

.my-work {
    background-color: #ffffff;
}

.my-work .title-panel {
    background-color: #FF9800;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: xx-large;
}

.my-work .description-panel {
    padding: 20px;
}

.my-work .detail-panel p {
    margin-bottom: 0px;
}

.my-work .image-panel {
    background-color: #ffffff;
    padding: 0px;
    box-shadow:0px 0px 7px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.my-work .movie-panel {
    background-color: #000000;
    padding: 0px;
    height: 480px;
    box-shadow:0px 0px 7px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.my-footer {
    background-color: #2196F3;
    color: #ffffff;
    box-shadow:0px -1px 7px rgba(0, 0, 0, 0.3);
}

.my-footer .copyright {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
